<h1>{{titulo}}</h1>
<br>
<br>

<table>
    <thead>
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Prioridade</th>
            <th scope="col">Data de Criação</th>
            <th scope="col">Percentual</th>
            <th scope="col">Data de Conclusão</th>
    </thead>

    <tbody>
        <tr *ngFor="let tarefa of listaTarefas">
            <td>{{tarefa.titulo}}</td>
            <td>{{converterPrioridade(tarefa.prioridade)}}</td>
            <td>{{tarefa.dataCriacao.toLocaleDateString()}}</td>
            <td>{{tarefa.percentual}}</td>
            <td>{{tarefa.dataConclusao.toLocaleDateString()}}</td>
        </tr>
    </tbody>

</table>
