<div class="container main-container">    
    <h1>{{titulo}}</h1>
    <br>
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titulo</th>
                <th scope="col">Prioridade</th>
                <th scope="col">Data de Criação</th>
                <th scope="col">Percentual</th>
                <th scope="col">Data de Conclusão</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let tarefa of listaTarefas">
                <td>{{tarefa.id}}</td>
                <td>{{tarefa.titulo}}</td>
                <td>{{converterPrioridade(tarefa.prioridade)}}</td>
                <td>{{formatarData(tarefa.dataCriacao)}}</td>
                <td>{{tarefa.percentual}}</td>
                <td>{{formatarData(tarefa.dataConclusao)}}</td>
            </tr>
        </tbody>

    </table>
</div>