<div class="container main-container">
    <h1>{{titulo}}</h1> 
    <hr>

    <form [formGroup]="cadastroForm" (ngSubmit)="editarTarefa()">
        <label class="control-label" for="titulo">Titulo</label>
        <div>
            <input class="form-control" id="titulo" type="text" placeholder="Titulo" formControlName="titulo"> 
        </div>

        <label class="control-label" for="prioridade">Prioridade</label>
        <div>
            <select class="form-select" id="prioridade" formControlName="prioridade">
                <option *ngFor="let prioridade of prioridade" value={{prioridade}}>
                    {{tipos[prioridade]}}
                </option>
            </select>
        </div>

        <label class="control-label" for="dataCriacao">Nome</label>
        <div>
            <input class="form-control" id="dataCriacao" type="date" placeholder="Data Criacao" formControlName="dataCriacao" readonly /> 
        </div>

        <label class="control-label" for="percentual">Nome</label>
        <div>
            <input class="form-control" id="percentual" type="number" placeholder="Percentual" formControlName="percentual"> 
        </div>

        <label class="control-label" for="dataConclusao">Nome</label>
        <div>
            <input class="form-control" id="dataConclusao" type="date" placeholder="Data Conclusao" formControlName="dataConclusao" readonly /> 
        </div>
        
        <br>
        <div>
            <button id="registrar" type="submit">registrar</button>
        </div>
    </form>
</div>