<h1>{{titulo}}</h1>
<hr>

<form [formGroup]="cadastroForm" (ngSubmit)="adicionarFuncionario()">
    <label for="nome">Nome</label>
    <div>
        <input id="nome" type="text" placeholder="Nome" formControlName="nome"> 
    </div>
    <label for="cpf">Nome</label>
    <div>
        <input id="cpf" type="text" placeholder="CPF" formControlName="cpf"> 
    </div>
    <label for="dataAdmissao">Nome</label>
    <div>
        <input id="dataAdmissao" type="date" placeholder="Data Admissao" formControlName="dataAdmissao"> 
    </div>
    <label for="cargo">Cargo</label>
    <div>
        <select id="cargo" formControlName="cargo">
            <option *ngFor="let cargo of cargos" value={{cargo}}>
                {{tipos[cargo]}}
            </option>
        </select>
    </div>
    <br>
    <div>
        <button id="registrar" type="submit">Registrar</button>
    </div>
</form>